@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.preloader {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 36px;
  // position: relative;
  padding: 8px 20px;

  &__avatar {
    animation: shake 1s ease infinite forwards;
    animation-fill-mode: forwards;
    height: calc(100%);
    transform: rotate(-10deg);
    // position: absolute;
    // top: 10px;
    // left: 0px;
    
  }

  &__text {
    color: #737376;
    font-weight: 300;
  }
}
